import /init.microtrust.rc

on init
    export PATH /sbin:/system/bin:/vendor/bin:/vendor/bin/hw
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw

on fs && property:ro.debuggable=0
    start adbd

on property:ro.crypto.state=encrypted && property:ro.crypto.type=file
    install_keyring

on post-fs
    # Start bins
    start boot-hal-1-2

#################################

    # Support A/B feature for combo emmc and ufs OTA update
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/platform/bootdevice/by-name/preloader_emmc_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/platform/bootdevice/by-name/preloader_emmc_b
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/platform/bootdevice/by-name/preloader_ufs_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/platform/bootdevice/by-name/preloader_ufs_b

    symlink /dev/block/mapper/pl_a /dev/block/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/by-name/preloader_raw_b
    symlink /dev/block/mapper/pl_a /dev/block/platform/bootdevice/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/platform/bootdevice/by-name/preloader_raw_b

#################################

# Services

service keymaster-4-0-trustkernel /system/bin/android.hardware.keymaster@4.0-service.trustkernel
    user root
    group root drmrpc
    oneshot    
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /system/bin/android.hardware.gatekeeper@1.0-service
    user root
    group root
    oneshot
    disabled
    seclabel u:r:recovery:s0
    
service vibrator /system/bin/hw/android.hardware.vibrator-service.mediatek
    user root
    group root
    class hal
    seclabel u:r:recovery:s0
    
#################################

on property:hwservicemanager.ready=true
    start gatekeeper-1-0
    start keymaster-4-0-trustkernel

on property:ro.crypto.state=unsupported
    stop teed
    stop keymaster-4-0-trustkernel

on property:ro.crypto.state=unencrypted
    stop teed
    stop keymaster-4-0-trustkernel

on property:twrp.decrypt.done=true
    stop teed
    stop keymaster-4-0-trustkernel
    stop gatekeeper-1-0

on boot
    start health-hal-2-1
    start vibrator